.worksBlock{
    height: 100%;
    background-color: #e16b43;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #8d796e;
}

.works {
    border: 2px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #767e75;
}
