.variantBlock {
    height: 400px;
    background-color: #beaf38;
}

.variantContainer {
    flex-direction: column;
    justify-content: space-around;
}

.title {
    background-color: #ccc0b2;
}


.button {
    width: 80px;
    height: 30px;
    background-color: #767e75;
    padding: 10px;
}