.header {
    height: 150px;
    background-color: #252527;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
    @media screen and (max-width: 530px) {
        justify-content: space-around;
    }
}