.headerContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  @media screen and (max-width: 1129px) {
    justify-content: center;
  }
}

.header {
  background-color: #252527;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 530px) {
    justify-content: space-around;
  }
}

