@import "../../styles/sass/variables";
.title {
  margin: 0 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: $textColor;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;
  .titleSize{
    font-weight: 400;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 60px;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

