.mainBlock {
    height: 100vh;
    background-color: dimgray;
}


.text {
    width: 300px;
    background-color: #69a0b9;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: #69a0b9;
}